
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .first-section h1 {
        font-size: 2.5rem; 
    }

    .highlight {
        font-size: 1.2rem; 
    }

    .first-section p {
        font-size: 1.2rem; 
        margin-bottom: 1rem; 
    }

    .img-back img {
        width: 100%;
    }

    .about, .services, .contact {
        padding: 2rem 1rem; 
    }

    .contentabout h2, .services-title {
        font-size: 2rem;
    }

    .contentabout p, .contact-item {
        font-size: 1.2rem; 
    }

    .services-container {
        flex-direction: column; 
        align-items: center; 
    }

    .service-block {
        width: 100%;
        margin-bottom: 2rem; 
    }

    .contact-content {
        flex-direction: column; 
    }

    .form-box {
        max-width: 100%; 

    .contact-image {
        width: 100%; 
        max-width: 100%; 
    }
}
}